// background colors
$mainBgColor: #1D1D1D;
$sidebarBtnBgHoverColor: #2E2E2E;
$textareaBgColor: #2E2E2E;
$sidebarTabActiveBgColor: #2E2E2E;
$timelineRealTimeBgColor: #5666E0;
$timelineFullTimeBgColor: #8E8E8E;
$inputBgColor: #2E2E2E;
$joinActiveBgColorBtn: #5666E0;
$joinDisabledBgColorBtn: #2E2E2E;
$activeFileBgColor: #2E2E2E;
$timemarkBgColor: #e040fb;

// Shadows
$sidebarShadow: 0 1px 6px #000000B2;
$sidebarTabActiveShadow: 0px 1px 6px #000000B2;
$fileTabShadow: 0px 1px 6px #000000B2;

// BorderColors
$tabBarBorderColor: #2E2E2E;
$labelBorderColor: #2E2E2E;
$hostTabBorderColor: #5666E0;
$slider_color: #5666e0;

// Colors
$white: #fff;

// Font colors
$messageTimeColor: #6C6C6C;
$exampleLinkColor: #afafaf;

// Font sizes
$labelPanelSize: 18px;
$viewerNameSize: 15px;
$folderAndFileSize: 15px;
$fileTabTitleSize: 11px;
$fileTabCloseSize: 11px;
$recordControllerTimeSize: 12px;
$chatUsernameSize: 15px;
$chatTimeSize: 12px;
$chatTextSize: 12px;
$treeButtonSize: 14px;
$viewersCounterSize: 12px;
$inputLinkSize: 14px;
$joinBtnSize: 15px;

$monacoBackground: #1e1e1e;

// Font family
$mainFont: 'Montserrat', sans-serif;
