    <div class="example">
      <span>Example: </span>
      <input
        type="text"
        disabled
        value="nothing"
      >
    </div>
    <form
      (ngSubmit)="onSubmit()"
      [formGroup]="form"
    >
      <input
        [(ngModel)]="value"
        formControlName="recordSource"
        placeholder="Enter link to recording"
        type="text"
      >
      <input 
        type="text"
        class="my_test_input"
        value="Hello"
      >
      <button
        type="button"
        class="my_btn"
        (click)="sayHi()"
      >
        Click me
      </button>

      <span class="resulted_string">
        {{ valueFromService }}
      </span>


    </form>
  </div>
