<div appIsIframe class="home-wrapper">
  <div *ngIf="hasAccess; else noAccess" class="home">
    <div class="example">
      <span>Example: </span>
      <input
        type="text"
        disabled
        value="https://s3.eu-central-1.amazonaws.com/lc.club/public/records/818ac025-3441-4848-a30b-6264d17589e7/818ac025-3441-4848-a30b-6264d17589e7-config.lc"
      >
    </div>
    <form
      (ngSubmit)="onSubmit()"
      [formGroup]="form"
    >
      <input
        [(ngModel)]="value"
        formControlName="recordSource"
        placeholder="Enter link to recording"
        type="text"
      >
      <button
        [disabled]="form.invalid"
        type="submit"
      >Join
      </button>
    </form>
  </div>
  <div
    [activeClass]="'active'" appControl
    class="controller"
  >
    <app-fullscreen class="fullscreen"></app-fullscreen>
  </div>
</div>

<ng-template #noAccess>
  <h3>You don't have access to our module</h3>
</ng-template>
