@import './src/app/shared/variables.scss';

.resulted_string {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgba(66, 66, 211, 0.545);
  transition: .3s;
}
